<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <header class="header-index">
    <h1 class="h1">Eventos Angulares</h1>

  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-section-home">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" routerLink="eventos">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="edicoes-eventos">Edicoes de Evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="busca-por-data">Pesquisa por Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>

</html>
