<h2 style="text-align: center; width: auto;">Edições do Eventos</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Número</th>
      <th scope="col">Ano</th>
      <th scope="col">Data Início</th>
      <th scope="col">Data Fim</th>
      <th scope="col">Cidade Sede</th>
      <th scope="col">Estado</th>
      <th scope="col">Evento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let edicao of edicoes">
      <th scope="row">{{edicao.numero}}</th>
      <td>{{edicao.ano}}</td>
      <td>{{edicao.dataInicio}}</td>
      <td>{{edicao.datafim}}</td>
      <td>{{edicao.cidadeSede}}</td>
      <td>{{edicao.estado}}</td>
      <td>{{edicao.evento.nome}}</td>
    </tr>
  </tbody>
</table>
