body {
  width: 75%;
  margin: 0 auto;
}

.header-index {
  height: 150px;
  width: 100%;
  margin: auto;
  display: flex;
}

.h1 {
  width: 95%;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.card-div {
  margin-bottom: 10px;
}

.nav-section-home {
  margin-bottom: 15px;
}
